<div>
    <div class="identityHeader">
        <div class="meetupDetailsInfo">
            <h1>{{meetup.title}}</h1>
            <div>
                <p>Hosted by: <a class="undecorated" href="/users/{{userIdFilter meetup.owner.id}}">{{meetup.owner.name}}</a></p>
                <p>When: {{prettyDate meetup.date}}</p>
            </div>
        </div>
        <div class="joinDiv" align="right">
            <div>
                {{#if profile}}
                {{#if participates}}
                <p>You have already joined this meetup.</p>
                {{else}}
                <form action="/meetups/{{numberFilter meetup.id}}/join" method="post">
                    <input type="hidden" name="_csrf" value="{{csrf}}" />
                    <button class="button" type="submit">Join</button>
                </form>
                {{/if}}
                {{else}}
                <p>You must be signed in to join a meetup.</p>
                {{/if}}
                <p>Only TODO spots left!</p>
            </div>
        </div>
    </div>
    <div class="detailContent">
        <h3>Details</h3>
        <p>{{meetup.description}}</p>
        <h3>Participants ({{meetup.participants.length}})</h3>
        <ul>
            {{#each meetup.participants}}
            <li><a class="undecorated" href="/users/{{userIdFilter this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>